@charset "ISO-8859-1";

@charset "ISO-8859-1";

.submit-btn {
  background: -webkit-linear-gradient(right, #f02e2e, #bf0000);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 60px;
  margin: 0 auto;
  margin-top: 15px;
  transition: 0.25s;
  width: 180px;
}

.submit-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}

.cancel-btn {
  background: -webkit-linear-gradient(right, #18A558, #116530);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 60px;
  margin: 0 auto;
  margin-top: 15px;
  transition: 0.25s;
  width: 180px;
}

.cancel-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}


.deleteleave-btn {
  background: -webkit-linear-gradient(right, #18A558, #116530);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 35px;
  margin: 0 auto;
  margin-top: 10px;
  transition: 0.25s;
  width: 100px;
}

.deleteleave-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}

.delete-btn {
  background: -webkit-linear-gradient(right, #f02e2e, #bf0000);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 60px;
  margin: 0 auto;
  margin-top: 0;
  transition: 0.25s;
  width: 180px;
}

.delete-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}
